__pycache__/
.ipynb_checkpoints/
.idea/
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep
data/predictions/*
!data/predictions/.gitkeep
data/fbref/raw/*
!data/fbref/raw/.gitkeep
data/fbref/processed/*
!data/fbref/processed/.gitkeep
data/fbref/soccerdata_cache/
models/*
!models/.gitkeep
mlruns/
mlflow.db
downloaded_files/
*.pkl
*.joblib
